@model DefCan.Models.Customer

@{
    ViewBag.Title = "Autherize5";
}

<h2> Verification </h2>

@using (Html.BeginForm("Autherize5", "Customer", FormMethod.Post))
{
    <fieldset>
        <legend> Verify your login to continue </legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.EmailAddress)</td>
                <td>@Html.TextBoxFor(a => a.EmailAddress)</td>
                <td>@Html.ValidationMessageFor(a => a.EmailAddress)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}  