@model DefCan.Models.Customer

@{
    ViewBag.Title = "Autherize3";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Login </title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>

<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize3", "Customer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ImageID)
                    @Html.EditorFor(model => model.ImageID)
                </div>
                <div class="editor-field">
                    <input id="ImageID" title="Upload a product image" type="file" name="file4" />
                </div>
            </fieldset>
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline"> C.U.P.S </td>
                </tr>
                <tr>
                    <td>
                         @Html.LabelFor(model => model.EmailAddress) 

                    </td>
                    <td>
                       @Html.EditorFor(model => model.EmailAddress) 

                    </td>
                </tr>




                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">
                            @*  @Html.DisplayFor(model => model.LoginErrorMessage) *@
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>  </td>
                    <td>
                        <input type="submit" name="name" value="Login" /> 

                    </td>
                </tr>


            </table>

        }
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>


</html>



<h2>Autherize3</h2>

